.divlogin{
    display: flex;
    align-items: center;
    flex-direction:column;
}
#btn-modal{
    margin-top:10px;
}
#newCalendar{
    margin-bottom: 15px;
}
#lcalendar{
    margin-top: 5px;
}
.icon {
    background: url(/imgs/google.svg) no-repeat;
    margin-top: 50px;
    border: none;
    width: 40px;
    height: 40px;
}
.lead-box{
    margin-left: 15px;
}
